<h1>Editing Team</h1>

<%= render 'form' %>

<div class="ui-grid-a">
  <div class="ui-block-a">
    <%= link_to 'Show', @team, :'data-role' => 'button' %>
  </div>
  <div class="ui-block-b">
    <%= link_to 'Back', teams_path, :'data-role' => 'button' %>
  </div>
</div>

