<h1><%=h @team.formalname %> Coaching Staff</h1>

  <% if @team.coaches.count > 0 %>
    <ul data-role="listview" data-inset="true" data-filter="true">
      <% @team.coaches.each do |c| %>
        <% hc = CoachesTeam.find_by(:team_id => @team.id, :coach_id => c.id) %>
        <li><%= link_to(c.fullname, c) %><span class="ui-li-aside"><%= hc.headcoach ? "Head Coach" : "" %></span></li>
      <% end %>
    </ul>
  <% else %>
    No coaches on coaching staff.
  <% end %>


<div data-role="footer" data-position="fixed" class="ui-bar">
  <%= link_to 'Back', @team, :'data-role' => 'button', :'data-icon' => "back" %>
</div>

