<p id="notice"><%= notice %></p>

<p>
  <strong>Headcoach:</strong>
  <%= @coaches_team.headcoach %>
</p>

<%= link_to 'Edit', edit_coaches_team_path(@coaches_team) %> |
<%= link_to 'Back', coaches_teams_path %>
