<h1>Edit Athlete Profile</h1>

<%= render 'form' %>

<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-bar">
  <%= link_to 'Back', athletes_path, :'data-role' => 'button', :'data-icon' => "back" %>
  <%= link_to 'Show', @athlete, :'data-role' => 'button', :'data-icon' => "edit" %>
</div>

