<h1>New Athlete</h1>

<%= render 'form' %>

<div data-role="footer" data-position="fixed" class="ui-bar">
  <%= link_to 'Back', athletes_path, :'data-role' => "button", :'data-icon' => "back" %>
</div>

