<h1>Editing Coach</h1>

<%= render 'form' %>

<div class="ui-grid-a">
  <div class="ui-block-a">
    <%= link_to 'Show', @coach, :'data-role' => 'button' %>
  </div>
  <div class="ui-block-b">
    <%= link_to 'Back', coaches_path, :'data-role' => 'button' %>
  </div>
</div>

