<h1>Edit Coach Profile</h1>

<%= render 'form' %>

<div data-role="footer" data-position="fixed" class="ui-bar">
  <%= link_to 'Back', coaches_path, :'data-role' => 'button', :'data-icon' => "back" %>
  <%= link_to 'Show', @coach, :'data-role' => 'button', :'data-icon' => "user" %>
</div>
