<h3 class="ui-bar ui-bar-b ui-corner-all">Edit Coach Profile</h3>

<%= render 'form' %>

<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="ui-bar">
  <%= link_to 'Back to Coaches', coaches_path, :'data-role' => 'button', :'data-icon' => "back" %>
  <%= link_to 'Show Coach', @coach, :'data-role' => 'button', :'data-icon' => "user" %>
</div>
